p {
  font-size: 25px;
}
.bk {
  border-radius: 15px;
  background-color: rgb(0, 0, 0, 0.7);
}
.wt {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  margin: 5px;
}
.imagen-esquina {
  position: fixed; /* Esto fija la imagen en la ventana del navegador */
  top: 0; /* Coloca la imagen en la parte superior */
  right: 0; /* Coloca la imagen en la esquina derecha */
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: left;  */
}
.col {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 15px;
}
