body {
  font-family: "Roboto", sans-serif;
}

img {
  border-radius: 30px;
}
div {
  border-radius: 30px;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

